<form action="{% url 'quiz' %}" method="post">
  {% csrf_token %}
  <!-- Demographic Information -->
  <div id="quizSectionDemographics">
    <h2 class="display-3">Part 1</h2>
    <!-- height -->
    <div class="form-group">
        <label for="">Height</label>
        <input class="form-control" type="text" value="" placeholder="5&apos;10&quot;">
    </div>
    <!-- weight -->
    <div class="form-group">
        <label for="">Weight</label>
        <input class="form-control" type="text" value="" placeholder="123 lbs">
    </div>
    <!-- age -->
    <div class="form-group">
        <label for="">Age</label>
        <input class="form-control" type="number" value="" placeholder="20">
    </div>
    <!-- gender -->
    <div class="form-group">
        <span for="">Gender</span>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="">
            <label class="form-check-label" for="">Male</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="">
            <label class="form-check-label" for="">Female</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="">
            <label class="form-check-label" for="">Other</label>
        </div>
    </div>
  </div>

  <div id="quizSectionCareer">
    <h2 class="display-3">Part 2</h2>
    <!-- job title -->
    <div class="form-group">
        <label for="">Job Title</label>
        <input class="form-control" type="text" value="" placeholder="Software Engineer">
    </div>
    <!-- monthly salary -->
    <div class="form-group">
        <label for="">Monthly Salary</label>
        <input class="form-control" type="text" value="" placeholder="$0,000">
    </div>
    <!-- work shift hours -->
    <div class="form-group">
        <label for="">Work Shift Hours</label>
        <input class="form-control" type="text" value="" placeholder="40">
    </div>
  </div>

  <div id="quizSectionCitiesTransportation">
    <h2 class="display-3">Part 3</h2>
    <!-- canidate cities -->
    <div class="form-group">
        <label for="">Canidate Cities</label>
        <input class="form-control" type="text" placeholder="Buffalo, New York, San Fransisco">
    </div>
    <!-- transportation preferences -->
    <div class="form-group">
        <span for="">Transportation Preferences</span>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="">
            <label class="form-check-label" for="">Car</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="">
            <label class="form-check-label" for="">Public Transportation</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="">
            <label class="form-check-label" for="">Walking</label>
        </div>
    </div>
  </div>
</form>
