{% extends "base.html" %}

{% block content %}

    <div style="display:flex; flex-direction:column;
                width:100%; min-height:50vh;
                background-image:linear-gradient(to right, #0045a6, #5a95e8);">
      <h3 style="padding-left:10vw; padding-top:14vh; font-size:5vw;
                 color:White;">Find The Best City For You</h3>

      <p style="padding-left:10vw; padding-top:3vh; padding-bottom:8vh;
                max-width:60%; font-size:28px; color:White;">
                Smart City Finder utilizes machine learning algorithm to help
                you find the best city to settle in, given your height, weight,
                age, gender, transportation preference and basic information
                about your job offer. With privacy and security in mind, your
                information remains private and secure and they will be deleted
                right after result is displayed.
      </p>
    </div>
    
    {% include "quiz/include_quiz_form.html" %}
    <br>
    {% include "quiz/include_quiz_results.html" %}

{% endblock content %}