{% extends "base.html" %}


{% block content %}
      <div>
        <div class="header-blue">
            <div class="container hero">
                <div class="row">
                    <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                        <h1 style="font-size: 56px;width: 560px;margin: 80px 0px 40px 0px;">Find the best city for you</h1>
                        <p style="font-size: 28px;width: 720px;margin: 0px 0px 60px 0px;">Smart City Finder helps you find the best city to settle in given your current job offers. The app does not transfer your data to any server. Your data are kept in your browser and are deleted right after result is displayed so
                            you don't have to worry about your privacy.</p><button class="btn btn-light btn-lg action-button" type="button">Learn More</button></div>
                </div>
            </div>
        </div>
    </div>
    {% include "quiz/include_quiz_form.html" %}

   <div class="testimonials-clean" id = "results" style="background-color: rgb(241,247,252);">
        <div class="container" style="height: 720px;">
            <div class="intro">
                <h2 class="text-center" style="font-size: 48px;">City A</h2>
                <p class="text-center" style="font-size: 24px;">&nbsp;City A is the best for you according to our system. City A ranks the highest in all three of the following categories. Here is why:</p>
            </div>
            <div class="row people" style="margin: 0px;">
                <div class="col-md-6 col-lg-4 item" style="height: 320px;">
                    <div class="box">
                        <p class="description" style="font-size: 24px;">Reasons 1 blah blah blah Reason 2 blah blah blah Reason 3&nbsp;blah blah blah&nbsp;</p>
                    </div>
                    <div class="author">
                        <h5 class="name" style="font-size: 32px;">Aspect 1</h5>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item" style="height: 320px;">
                    <div class="box">
                        <p class="description" style="font-size: 24px;">Reasons 1 blah blah blah Reason 2 blah blah blah Reason 3&nbsp;blah blah blah&nbsp;</p>
                    </div>
                    <div class="author">
                        <h5 class="name" style="font-size: 32px;">Aspect 2</h5>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item" style="height: 320px;">
                    <div class="box">
                        <p class="description" style="font-size: 24px;">Reasons 1 blah blah blah Reason 2 blah blah blah Reason 3&nbsp;blah blah blah&nbsp;</p>
                    </div>
                    <div class="author">
                        <h5 class="name" style="font-size: 32px;">Aspect 3</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
